.container-sm {
  background-color: #282c34;
  width: 50%;
}

button,
.user-details-btn,
.sleep-input,
.food-input,
.mood-input,
.activity-input,
.sign-in,
.register {
  margin: 1em;
}

.mood-slider {
  width: 40%;
}
